<div class="fadein-slider">
    {% for key, item in items %}
        <input type="radio" id="fadein-slider-tab-{{ key }}"
               name="fadein-slider-{{ name }}-group" {% if key == 0 %} checked {% endif %}>
        <label for="fadein-slider-tab-{{ key }}" class="fadein-slider_slide-btn">{{ item.name }}</label>
        <div class="fadein-slider_item">
            <div class="fadein-slider_text">
                <h3 class="fadein-slider_header">{{ item.name }}</h3>
                {{ item.text }}
            </div>
            <img class="fadein-slider_image lazy" data-src="{{ item.image }}" src="" alt=""/>
        </div>
    {% endfor %}
</div>
